
.local-emoji-picker {
  .padding-top {
    padding-top: 16px;
  }
  .emoji-section {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    .emoji-section-title {
      font-size: 16px;
      color: #adadad;
      text-transform: capitalize;
    }
  }
}
