.local-emoji-picker {
  background-color: white;
  position: absolute;
  bottom: 64px;
  height: 204px;
  width: 300px;
  left: 36px;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.12);
  max-height: 300px;
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  overflow: hidden;

  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
  -webkit-animation-duration: .25s;
  animation-duration: .25;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.local-emoji-picker .search {
  margin-top: 12px;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6px;
}

.local-emoji-picker .search .search-input {
  border: 0;
  height: 32px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.local-emoji-picker .categories {
  overflow-y: scroll;
  height: calc(100% - 36px); /* height of search bar */
  width: 100%;
}

.local-emoji-picker .categories .emoji-section {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.local-emoji-picker .categories .emoji-section .emoji-section-title {
  font-size: 16px;
  color: #adadad;
}

.local-emoji-picker .categories .emoji-section .emoji-row {
  display: flex;
}

.local-emoji-picker .categories .emoji-section .emoji-row .emoji-item {
  cursor: pointer;
  font-size: 26px;
  min-width: 33px;
  transition: all .2s ease;
}

.local-emoji-picker .categories .emoji-section .emoji-row .emoji-item:hover {
  transform: scale(1.2);
}
