
.local-emoji-picker {
  .search {
    padding-bottom: 6px;

    .search-input {
      border: 0;
      height: 32px;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
